#liri {
     background-color: black;
     border: black;
     color: white;
     margin-top: 65px;
}

#bar {
    background-color: black;
    border: black;
    color: white;
    margin-top: 42px;
}

#crystal {
    background-color: black;
    border: black;
    color: white;
    margin-top: 39px;
}

#trivia {
    background-color: black;
    border: black;
    color: white;
    margin-top: 60px;
}