<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../Css/portfolio.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>
<body style="background: url(./images/dark-triangles.png)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" width: 1400px; margin: 0 auto; background: url(./images/old_moon.png)">
        <a class="navbar-brand" href="./index.html">Hayden Mejia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
          <span class="navbar-text">
            Denver University
          </span>
        </div>
     </nav>
     <br>
  <div class="container" style="border-radius: 10px; margin: 0 auto; width: 1000px; background: url(./images/old_moon.png)">
    <div class="card-deck">
      <div class="card" style="width: 18rem; float: left; margin: 50px;">
          <div class="card-body">
            <h5 class="card-title">Trivia Game</h5>
            <p class="card-text"></p>
            <a href="https://haydenmejia.github.io/TriviaGame/" id="trivia" class="btn btn-primary btn-lg active" role="button">Link</a>
          </div>
        </div>

      <div class="card" style="width: 18rem; float: left; margin: 50px;">
        <div class="card-body">
          <h5 class="card-title">Crystal Game</h5>
          <p class="card-text"></p>
          <a href="https://haydenmejia.github.io/week-4-game/" id="crystal" class="btn btn-primary btn-lg active" role="button">Link</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem; float: left; margin: 50px;">
        <div class="card-body">
          <h5 class="card-title">Bar Crawl Project</h5>
          <p class="card-text"></p>
          <a href="https://the-dude-abides.github.io/bar-crawl-project/" id="bar" class="btn btn-primary btn-lg active" role="button">Link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; float: left; margin: 50px;">
        <div class="card-body">
          <h5 class="card-title">Liri Node</h5>
          <p class="card-text"></p>
          <a href="https://github.com/haydenmejia/liri-node-app.git" id="liri" class="btn btn-primary btn-lg active" role="button">Link</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>